{% set count = namespace(ipv4=0, ipv6=0) %}
{% for PREFIX in PROTECTED_NET %}
{% if PROTECTED_NET %}
{% if PREFIX.inet == 4 %}
{% set count.ipv4 = count.ipv4 + 1 %}
          <member>
          <name>{{username}}_{{ PREFIX.name }}_V{{ PREFIX.inet }}_{{ count.ipv4 }}</name>
          <address-type>NETWORK</address-type>
          <ip-address>{{ PREFIX.prefix }}</ip-address>
          </member>
{% endif %}
{% if PREFIX.inet == 6 %}
{% set count.ipv6 = count.ipv6 + 1 %}
          <member>
          <name>{{username}}_{{ PREFIX.name }}_V{{ PREFIX.inet }}_{{ count.ipv6 }}</name>
          <address-type>NETWORK</address-type>
          <ip-address>{{ PREFIX.prefix }}</ip-address>
          </member>
{% endif %}
{% endif %}
{% endfor %}